---
import Layout from "$/layouts/BaseLayout.astro";
import Nav from "$/components/Navbar.astro";
import Hero from "$/components/home/Hero.astro";
---

<Layout title="Diego's Pizza">
  <Nav />
  <main class="pt-20">
    <Hero />
  </main>
</Layout>
