---
import "../css/base.css";
//import Footer from "../components/Footer.astro";

type Props = {
  title: string;
  includeRecaptcha?: boolean;
};

const { title, includeRecaptcha = false } = Astro.props;

const reCaptchaPublicKey = import.meta.env.PUBLIC_RECAPTCHA_KEY || "";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {
      includeRecaptcha && (
        <script
          is:inline
          src={`https://www.google.com/recaptcha/api.js?render=${reCaptchaPublicKey}`}
          async
          defer
        />
      )
    }

    <title>{title}</title>
  </head>
  <body>
    <slot />
    {/* <Footer /> */}
  </body>
</html>
