---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navbar from "../../components/Navbar.astro";
const user = { 
  name: "Admin",
};
---

<BaseLayout>
  <Navbar />
  <head>
    <title>Bienvenida</title>
  </head>

  <section
    class="min-h-screen flex flex-col items-center justify-center text-white text-center p-8 relative"
  >
    <div
      class="absolute inset-0 bg-cover bg-center"
      style="background-image: url('/dashboard1.jpg');"
    >
    </div>
    <div
      class="relative max-w-2xl bg-white/10 backdrop-blur-lg p-6 rounded-2xl shadow-lg"
    >
      <h1 class="text-4xl font-bold animate-fade-in">¡Bienvenido {user.name}!</h1>
      <div class="mt-6"></div>
    </div>
  </section>
</BaseLayout>
